<!DOCTYPE html>
<html>
<head>
  <title>CarDealer</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= csrf_meta_tags %>
  <link href='http://fonts.googleapis.com/css?family=Orienta' rel='stylesheet' type='text/css'>
</head>
<body>
<%= render 'layouts/header' %>

<div class="notice_container">
  <p class="notice"><%= notice %></p>
</div>
<p class="alert"><%= alert %></p>

<div class="content">
  <%= yield %>
</div>

<%= javascript_include_tag "application" %>
</body>
</html>
